@{
  Layout="Shared/_Layout.cshtml";
}

  <h2>For @Model["band"].GetName(), here are their venues:</h2>

@if (@Model["bandVenues"].Count == 0)
{
  <p> This band hasn't had any gigs yet!  They're undiscovered. </p>
}
else
{
  <ol>
    @foreach (var venue in @Model["bandVenues"])
    {
      <li>@venue.GetName()</li>
    }
  </ol>
}

<p><h4><a href="/venues/new">Add a new venue to this band</a></h4></p>
  <form action = "/band/add_venue" method="post">
    <input id="band-id" name="band-id" type="hidden" value="@Model["band"].GetId()">
    <label for="venue-id">Venue for this band</label>
    <select id="venue-id" name="venue-id" type="text">
      @foreach (var venue in @Model["allVenues"])
      {
        <option value="@venue.GetId()">@venue.GetName()</option>
      }
    </select>
    <button type="submit">Add this venue</button>
  </form>
